<%- include("./partials/head") %> 
<body>
	<%- include("./partials/header") %> 
	<main>
		<h1>Hola: <%= user %> </h1>
		<img src="/images/node.jpg" width="60%">

	</main>
	<%- include("./partials/footer") %> 
</body>
</html>