<%- include("./partials/head") %> 
<body>
	<%- include("./partials/header") %> 
	<main>

		<h1>Home</h1>
		<img src="/images/node.jpg" width="60%">
		<%- include("./partials/footer") %> 
	</main>
</body>
</html>