<%- include("./partials/head") %> 
<body>
	<%- include("./partials/header") %> 
	<main>

        <h1>Acceso denegado</h1>
        <div style="width:480px"><iframe allow="fullscreen" frameBorder="0" height="270" src="https://giphy.com/embed/BZMggpshzrPvbfQHIF/video" width="480"></iframe></div>
    </main>
	<%- include("./partials/footer") %> 
</body>
</html>